.login-section {
    background-image: url('../../images/subscribe-gaa88431a4_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} 

/* /* .qrcode img {
    display: none;
} */