
a{
    text-decoration: none;
}

.sect input, textarea, select{
    box-shadow: none !important;
    border: 1px solid lightslategray !important;
}
.sect label{
    font-size: 16px;
}
.sect p{
    margin: 0;
}

