
.sect {
    /* font-family: sans-serif; */
    font-size: 17px;
}

.sect input, textarea, select{
    box-shadow: none !important;
    border: 1px solid lightslategray !important;
}
.sect label{
    font-size: 16px;
}
.sect p{
    margin: 0;
    font-size: 16px;
}


